body {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: lighter;
  margin: 5rem 0 1rem;
}

input, button {
  font-size: 1.2rem;
  margin: 0.5rem 0.25rem;
}

input {
  min-width: 66%;
}

ol {
  text-align: left;
  list-style-position: inside;
  padding: 0;
}

li {
  padding-bottom: 0.5rem;
}

.controls {
  float: right;
  font-size: 0.75rem;
}

.date {
  color: #ccc;
}

.action {
  cursor: pointer;
}

.delete {
  color: #a66;
}

.rater {
  color: #ec0;
  margin: 0 1rem;
}

.film-preview {
  overflow: hidden;
}

.film-preview img {
  height: 15rem;
  float: left;
  margin-right: 1rem;
}

.film-preview p,
.film-preview h2 {
  text-align: left;
}

.film-preview small {
  color: #666;
}
