body {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: lighter;
  margin: 5rem 0 1rem;
}

input, button {
  font-size: 1.2rem;
  margin: 0.5rem 0.25rem;
}

input {
  min-width: 66%;
}

ol {
  text-align: left;
}

li {
  padding-bottom: 0.5rem;
}

.date {
  float: right;
  color: #ccc
}
